In [ ]:
# Machine Learning Code

In [4]:
!pip install opendatasets --upgrade

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Collecting kaggle
  Downloading kaggle-1.5.16.tar.gz (83 kB)
Requirement already satisfied: tqdm in c:\users\eliss\anaconda3\lib\site-packages (from opendatasets) (4.59.0)
Requirement already satisfied: click in c:\users\eliss\anaconda3\lib\site-packages (from opendatasets) (7.1.2)
Requirement already satisfied: six>=1.10 in c:\users\eliss\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: certifi in c:\users\eliss\anaconda3\lib\site-packages (from kaggle->opendatasets) (2020.12.5)
Requirement already satisfied: python-dateutil in c:\users\eliss\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.1)
Requirement already satisfied: requests in c:\users\eliss\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.25.1)
Collecting python-slugify
  Downloading python_slugify-8.0.1-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: urllib3 in c:\users\eliss\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.26.4)
Requirement already satisfied: bleach in c:\users\eliss\anaconda3\lib\site-packages (from kaggle->opendatasets) (3.3.0)
Requirement already satisfied: packaging in c:\users\eliss\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (20.9)
Requirement already satisfied: webencodings in c:\users\eliss\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\eliss\anaconda3\lib\site-packages (from packaging->bleach->kaggle->opendatasets) (2.4.7)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\eliss\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\eliss\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.10)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.16-py3-none-any.whl size=110687 sha256=679555135b35ec6604ff81312b6c6918d521c823e31071c880fafac12438c8df
  Stored in directory: c:\users\eliss\appdata\local\pip\cache\wheels\5a\ab\50\e224f599a07faf6d398a8600796012da271b7e5e7f2a3ab2b8
Successfully built kaggle
Installing collected packages: text-unidecode, python-slugify, kaggle, opendatasets
Successfully installed kaggle-1.5.16 opendatasets-0.1.22 python-slugify-8.0.1 text-unidecode-1.3

In [ ]:
# In order to start we need to Load in some

In [5]:
import numpy as np
import pandas as pd
import opendatasets as od

In [ ]:
# Now, we can load the data set so that we can explore all the features.

In [9]:
taxi_data = pd.read_csv('train.csv')

taxi_data

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.50,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1.0
1,2010-01-05 16:52:16.0000002,16.90,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1.0
2,2011-08-18 00:35:00.00000049,5.70,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2.0
3,2012-04-21 04:30:42.0000001,7.70,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1.0
4,2010-03-09 07:51:00.000000135,5.30,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1.0
...,...,...,...,...,...,...,...,...
2009305,2014-06-19 10:38:00.00000054,9.00,2014-06-19 10:38:00 UTC,-73.967367,40.766137,-73.953275,40.786852,1.0
2009306,2015-02-09 16:00:47.0000001,57.33,2015-02-09 16:00:47 UTC,-73.991959,40.743893,-73.777473,40.644665,2.0
2009307,2015-02-09 16:00:47.0000004,8.00,2015-02-09 16:00:47 UTC,-74.003181,40.749069,-73.984962,40.774094,1.0
2009308,2009-06-07 01:39:00.00000097,16.10,2009-06-07 01:39:00 UTC,-73.984533,40.740785,-73.915117,40.779902,1.0
2009309,2010-02-23 10:25:00.00000043,6.50,2010-02-23 10:25:00 UTC,-74.008378,40.734795,-73.989858,40.000000,NaN